.list__title{
  margin-bottom: 15px;
  font-weight: 500;
  color: #333;
}

.list{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.list__ctn{
  flex: 1;
  display: flex;
  gap: 30px;
  width: 100%;
}

.list > button {
  opacity: 0;
}

.list:hover > button {
  opacity: 1;
}
