.list__title{
  margin-bottom: 15px;
  font-weight: 500;
  color: #333;
}

.list{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.list__ctn{
  flex: 1;
  display: flex;
  gap: 30px;
  width: 100%;
  overflow: hidden;
}


.list > button {
  opacity: 0;
}

.list:hover > button {
  opacity: 1;
}

@media only screen and (hover: none) and (pointer: coarse){

  .list__ctn{
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  } 
  
  .list__ctn::-webkit-scrollbar {
    display: none;
  }

  .list > button {
    display: none;
  }
}