.login-form__ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}
.login-form__form{
  display: flex;
  flex-direction: column;
}
.login-form__title{
  font-weight: 400;
  margin-bottom: 20px;
}
.login-form__recovery{
  margin: 10px 0 ;
  margin-bottom: 20px;
  text-align: right;
}
.login-form__change-form{
  position: relative;
  text-align: center;
  z-index: 1;
  margin-bottom: 20px;
}

.login-form__change-form > span{
  padding: 0 20px;
  background-color: #fff;
}
.login-form__change-form > span::before{
  position: absolute;
  z-index: -1;
  content: "";
  top: 11px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #b3b3b3;
}